port {{ openvpn_port }}
proto {{ openvpn_proto }}
dev tun

ca {{ openvpn_server_config_dir }}/ca.crt
cert {{ openvpn_server_config_dir }}/server.crt
key {{ openvpn_server_config_dir }}/server.key
dh {{ openvpn_server_config_dir }}/dh.pem

server {{ openvpn_network }} {{ openvpn_netmask }}
ifconfig-pool-persist ipp.txt

push "redirect-gateway def1 bypass-dhcp"
{% for dns in openvpn_dns_servers %}
push "dhcp-option DNS {{ dns }}"
{% endfor %}

keepalive 10 120
cipher {{ openvpn_cipher }}
auth {{ openvpn_auth }}

user nobody
group nogroup
persist-key
persist-tun

status openvpn-status.log
log-append /var/log/openvpn.log
verb 3

# Дополнительные настройки безопасности
tls-server
tls-version-min 1.2
tls-cipher TLS-ECDHE-RSA-WITH-AES-256-GCM-SHA384 